{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
        <div>
            <small>
                <a href="{% url 'register' %}">Register</a>
            </small>
        </div>
    </div>
{% endblock content %}